.matchList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 11px;
}

.matchItem {
  border-radius: 8px;
  // max-width: 325px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: visible;
  position: relative;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5); /* Ombra ancora più evidente */
}

.competitionSection {
  background-color: var(--background-tertiary);
  padding: 0.5rem 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 2px solid var(--background-secondary);
}

.competitionTitle {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  color: var(--background-secondary);
}

.matchSection {
  background-color: var(--background-secondary);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.teams {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.team {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.teamLogo {
  width: 60px;
  height: 60px;
  margin-right: 0.5rem;
}

.teamInfo {
  display: flex;
  flex-direction: column;
}

.teamName {
  font-weight: bold;
  color: white;
}

.vs {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

/* Qui si posiziona il bottone */
.matchButton {
  position: absolute;
  right: -46px;
  top: 50%;
  transform: translateY(-50%);
}

// .arrowButton {
//   color: #46c252;
//   background-color: transparent;
//   border: none;
//   padding: 0.5rem;
//   border-radius: 50%;
//   cursor: pointer;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   svg {
//     height: 30px;
//     width: 30px;
//   }
// }

// .arrowButton img {
//   width: 16px;
//   height: 16px;
// }
