/* page.module.scss */

/* Overlay per l'animazione */
.animationOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Assicurati che l'overlay copra tutta l'altezza della finestra */
  background-color: rgba(0, 0, 0, 0.7); /* Sfondo opaco (nero trasparente) */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Sopra tutti gli altri elementi */
}

/* Animazione del logo */
.animationLogo {
  width: 200px; /* Regola la larghezza in base al tuo logo */
  height: auto;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards; /* Animazione di comparsa */
}

/* Animazione di apparizione */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8); /* Partirà più piccolo */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Tornerà alla dimensione originale */
  }
}

/* Stili del layout principale (dopo l'animazione) */
.root {
  display: flex;
  flex-direction: column;
  background-color: var(--background-default);
  // overflow-y: scroll;
  grid-gap: 1rem;
  position: relative;
  min-height: 100vh; /* Assicura che il contenuto prenda almeno tutta l'altezza dello schermo */
  padding-top: 0;
}

/* Separatore tra la sezione animazione e il contenuto principale */
.separator {
  padding: 10px;
  background-color: var(--bronze);
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
