.standingsContainer {
  display: flex;
  background-color: #0d171c; //Devo ricordarmi di capire perchè non funzionano le variabili
  flex-direction: column;
  overflow-y: auto;
  height: 80vh;
  grid-gap: 1rem;
  padding-top: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: space-around;
  margin-top: 20px;
}

.tabButton {
  background-color: #182b34;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  span {
    font-weight: bold;
  }
}

.tabButton:hover {
  background-color: #1e90ff;
}

.standingsSection {
  margin-top: 10px;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #00d6a3;
}

.standingsTableContainer {
  width: 100%;
  overflow-x: auto;
}

.standingsTable {
  width: 100%;
  min-width: 600px; /* Assicura che la tabella non si riduca troppo sui dispositivi piccoli */
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.standingsTable th,
.standingsTable td {
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
}

.standingsTable td:first-child {
  font-weight: bold;
  font-size: 1rem;
}

.standingsTable th {
  background-color: #223b48;
  color: #f9f9f9;
}

.standingsTable tbody tr:nth-child(odd) {
  background-color: #182b34;
}

.standingsTable tbody tr:nth-child(even) {
  background-color: #223b48;
}

.standingsTable thead th:first-child {
  border-top-left-radius: 2px;
}

.standingsTable thead th:last-child {
  border-top-right-radius: 2px;
}

.standingsTable tbody tr:last-child td:first-child {
  border-bottom-left-radius: 2px;
}

.standingsTable tbody tr:last-child td:last-child {
  border-bottom-right-radius: 2px;
}

/* Media queries for smaller screens */
@media (max-width: 600px) {
  .sectionTitle {
    font-size: 1.2rem;
  }

  .tabButton {
    padding: 8px 12px;
    height: 45px;
  }

  .standingsTable th,
  .standingsTable td {
    padding: 6px;
    font-size: 11px;
  }

  .standingsTable {
    min-width: 360px;
  }
}

.serieA {
  height: 35px;
  background-color: #89eeef;
  color: black;
  font-weight: bold;
  text-align: center;

  span {
    font-weight: bold;
  }
}

.serieB {
  height: 35px;
  background-color: #f5e368;
  color: black;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 2.2); /* Ombra leggera */
  transition: box-shadow 0.3s ease;

  span {
    font-weight: bold;
  }
}

.champions {
  height: 35px;
  background-color: #719bef;
  color: black;
  text-align: center;

  span {
    font-weight: bold;
  }
}

.europaLeague {
  height: 35px;
  background-color: #e6a34c;
  color: black;
  text-align: center;

  span {
    font-weight: bold;
  }
}

.pmlCup {
  height: 35px;
  background-color: #46c252;
  color: black;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 2.2); /* Ombra leggera */
  transition: box-shadow 0.3s ease;

  span {
    font-weight: bold;
  }
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.miniHeadbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #182b34;
  height: 40px;
  padding: 5px;

  button {
    background-color: #223b48;
    border: none;
    border-radius: 2px;
    font-weight: bold;

    &:focus,
    &:active {
      background-color: #e6a34c; // Colore di sfondo quando il pulsante è in focus o attivo
      color: black; // Colore del testo quando il pulsante è in focus o attivo
      outline: none; // Rimuovi il contorno di default
    }
  }
}
