.standingsContainer {
  display: flex;
  background-color: #0d171c; //Devo ricordarmi di capire perchè non funzionano le variabili
  flex-direction: column;
  overflow-y: auto;
  height: 80vh;
  grid-gap: 1rem;
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: space-around;
  margin-top: 20px;
}

.tabButton {
  background-color: #182b34;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  span {
    font-weight: bold;
  }
}

.tabButton:hover {
  background-color: #1e90ff;
}

.standingsSection {
  margin-top: 10px;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #00d6a3;
}

/* Responsive table container */
.standingsTableContainer {
  width: 100%;
  overflow-x: auto; /* Permette lo scrolling orizzontale se necessario */
}

.standingsTable {
  width: 100%;
  min-width: 600px; /* Assicura che la tabella non si riduca troppo sui dispositivi piccoli */
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.standingsTable th,
.standingsTable td {
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
}

.standingsTable td:first-child {
  font-weight: bold;
  font-size: 1rem;
}

.standingsTable th {
  background-color: var(--background-tertiary);
  color: #f9f9f9;
}

.standingsTable tbody tr:nth-child(odd) {
  background-color: var(--background-secondary);
}

.standingsTable tbody tr:nth-child(even) {
  background-color: var(--background-tertiary);
}

.standingsTable thead th:first-child {
  border-top-left-radius: 2px;
}

.standingsTable thead th:last-child {
  border-top-right-radius: 2px;
}

.standingsTable tbody tr:last-child td:first-child {
  border-bottom-left-radius: 2px;
}

.standingsTable tbody tr:last-child td:last-child {
  border-bottom-right-radius: 2px;
}

/* Media queries for smaller screens */
@media (max-width: 600px) {
  .sectionTitle {
    font-size: 1.2rem;
  }

  .tabButton {
    padding: 8px 12px;
    font-size: 0.9rem;
  }

  .standingsTable th,
  .standingsTable td {
    padding: 6px;
    font-size: 11px; /* Riduce la dimensione del testo per schermi piccoli */
  }

  .standingsTable {
    min-width: 360px; /* Imposta una larghezza minima per evitare che la tabella diventi troppo piccola */
  }
}
