.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #182b34;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5.9375rem; // 95px in rem
  font-size: 1rem;
}

.brand {
  font-size: 1.5rem;
  color: #fff;
}

.navList {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 1rem;
}

.navItem {
  font-size: 1rem;
}

.link {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  font-weight: bold;

  &:hover,
  &:focus,
  &:active {
    background-color: #0d171cff;
    color: #e6a34cff;
  }
}
 
