.root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bronze);
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 4.9375rem; // 95px in rem
  font-size: 1rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5); /* Ombra ancora più evidente */

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    gap: 1rem;

    li {
      font-size: 1rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        width: 5rem;
        height: 100%;

        &:hover,
        &:focus,
        &:active {
          background-color: var(--background-default);
          color: var(--gold);
        }

        svg {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}
