// headbar.module.scss
.root {
  display: flex;
  background-color: var(--background-default);
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
  grid-gap: 1rem;
}

.separator {
  padding: 10px;
  background-color: var(--background-secondary);
  font-size: 18px;
}
