.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-secondary);
  top: 0;
  width: 100%;
  height: 4.9375rem; // 95px in rem
  font-size: 1rem;
  flex: 0 0 auto; // Non si espande né si contrae
  padding: 1rem;
  position: sticky;
  z-index: 1000;

  .leftSection {
    display: flex;
    align-items: center;

    .menuButton {
      display: flex;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer;

      &:hover,
      &:focus {
        color: var(--gold);
      }
    }

    .logo {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      color: #fff;
      text-decoration: none;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .centerSection {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .searchButton {
      display: flex;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer;
      background-color: transparent;

      &:hover,
      &:focus {
        color: var(--gold);
      }
    }

    .searchInput {
      border: 1px solid var(--border-color);
      padding: 0.5rem;
      font-size: 1rem;
      width: 200px;
      border-radius: 0.25rem;
      outline: none;

      &::placeholder {
        color: var(--placeholder-color);
      }
    }
  }

  .rightSection {
    display: flex;
    align-items: center;

    .notificationsButton {
      display: flex;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer;

      &:hover,
      &:focus {
        color: var(--gold);
      }
    }
  }

  .menuOverlay {
    position: fixed;
    top: calc(4.9375rem); // Altezza della headbar + 1px per il bordo inferiore
    left: 0;
    width: 100%;
    bottom: calc(4.9375rem); // Altezza della navbar + 1px per il bordo inferiore
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;

    .menu {
      background: var(--background-secondary);
      width: 250px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;

        li {
          margin: 0.5rem 0;

          a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: 9px;
            padding: 0.5rem;
            border-radius: 4px;

            svg {
              font-size: x-large;
            }

            &:hover,
            &:focus {
              background-color: var(--background-default);
              color: var(--gold);
            }
          }
        }
      }
    }
  }
}

.searchBar {
  position: fixed !important;
  top: 4.9375rem !important;
  left: 0 !important;
  width: 100% !important;
  background-color: #182b34 !important;
  z-index: 999 !important;
  // Ho alzato la priorità in questo modo per evitare che mantine mi sovrascriva
  // le regole scss. (Ho perso si e no 7 anni di vita)

  .searchInput {
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: none;
    outline: none;

    &::placeholder {
      color: var(--placeholder-color);
    }
  }
}

.button {
  background-color: #0d171c !important;
}
