.root {
  --background-default: #1f1f1f;
  --background-secondary: #9e1b32;
  --background-tertiary: #fff4e1;
  --action-yellow: #e4b77b;
  --action-green: #46c252;
  --action-red: #bb4430;
  --action-orange: #e6a34c;
  --action-light-blue: #89eeef;
  --action-yellow-secondary: #f5e368;
  --action-blue-secondary: #719bef;
  --gold: #efa900;
  --silver: #c0c0c0;
  --bronze: #6e1426;
}
