.root {
  --background-default: #0d171c;
  --background-secondary: #182b34;
  --background-tertiary: #223b48;
  --action-yellow: #e4b77b;
  --action-green: #46c252;
  --action-red: #bb4430;
  --action-orange: #e6a34c;
  --action-light-blue: #89eeef;
  --action-yellow-secondary: #f5e368;
  --action-blue-secondary: #719bef;
  --gold: #efa900;
  --silver: #c0c0c0;
  --bronze: #977547;
}
