.root {
  --background-default: #0D171C;
  --background-secondary: #182B34;
  --background-tertiary: #223B48;
  --action-yellow: #E4B77B;
  --action-green: #46C252;
  --action-red: #BB4430;
  --action-orange: #E6A34C;
  --action-light-blue: #89EEEF;
  --action-yellow-secondary: #F5E368;
  --action-blue-secondary: #719BEF;
  --gold: #EFA900;
  --silver: #C0C0C0;
  --bronze: #977547;
}